<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ecommerce</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
      <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="/asset/style.css">
  </head>
  <body>
    <!-- navbar -->
    <div id="app">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HakoBubag</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="navbar-text glyphicon glyphicon-shopping-cart" data-toggle="modal" data-target="#myModal">   Your Cart</button></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                or
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="#"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end nav -->
  <!-- carosel -->
  <!-- <div class="container-fluid"> -->
  <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="item active">
                      <img src="asset/gambar/7.jpg" alt="First slide" class="img-carausel">
                      <div class="carousel-caption">
                      </div>
                  </div>
                  <div class="item">
                      <img src="asset/gambar/8.jpg" alt="Second slide" class="img-carausel">
                      <div class="carousel-caption">
                      </div>
                  </div>
                  <div class="item">
                      <img src="asset/gambar/6.jpg" alt="Third slide" class="img-carausel">
                      <div class="carousel-caption">
                      </div>
                  </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                      href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                      </span></a>
          </div>
          <div class="main-text hidden-xs">
              <div class="col-md-12 text-center">
                  <div class="">

              </div>
          </div>
      </div>
  <!-- </div> -->
<!-- </div> -->
<div id="push">
</div>
  <!-- carosel end -->
  <!-- thumbnail -->
  <div class="container">
  <div class="row">
      <div class="col-md-4" v-for="item in cart">
            <div class="thumbnail">
              <img v-bind:src="item.image" alt="" class="img-responsive">
              <div class="caption">
                <h4><a href="#">{{item.product_name}}</a></h4>
                <h4> Rp. {{item.price_product}}</h4>
                <h4>{{item.quantity}} pcs</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
              <div class="ratings">
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                   (15 reviews)
                </p>
              </div>
              <div class="space-ten"></div>
              <div class="btn-ground text-center">
                  <button type="button" class="btn btn-primary" @click="getContent(item)"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view" @click="getActiveProduct(item)"><i class="fa fa-search"></i> Quick View</button>
              </div>
              <div class="space-ten"></div>
            </div>
          </div>
  </div>
</div>
<div class="modal fade product_view" id="product_view">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title"></h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img :src="activeProduct.image" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <h4>Product Id: <span>51526</span></h4>
                      <div class="rating">
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          (10 reviews)
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                      <h3 class="cost"><span class="glyphicon glyphicon-rp"></span> Rp. {{ activeProduct.price_product }} <small class="pre-cost"><span></span></small></h3>
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <select class="form-control" name="select">
                                  <option value="" selected="">Color</option>
                                  <option value="black">Black</option>
                                  <option value="white">White</option>
                                  <option value="gold">Gold</option>
                                  <option value="rose gold">Rose Gold</option>
                              </select>
                          </div>
                          <!-- end col -->
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <select class="form-control" name="select">
                                  <option value="">Capacity</option>
                                  <option value="">16GB</option>
                                  <option value="">32GB</option>
                                  <option value="">64GB</option>
                                  <option value="">128GB</option>
                              </select>
                          </div>
                          <!-- end col -->
                          <div class="col-md-4 col-sm-12">
                              <select class="form-control" name="select">
                                  <option value="" selected="">QTY</option>
                                  <option value="">1</option>
                                  <option value="">2</option>
                                  <option value="">3</option>
                              </select>
                          </div>
                          <!-- end col -->
                      </div>
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  <!-- end thumbnail -->
  <!-- start cart -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="background-color: white; color:black">
      <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      <div class="container">
	<h1>Shopping Cart</h1><hr>
	<table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Item</th>
                <th>QTY</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
            <tr v-for="item in itemCart">
                <td>{{ item.product_name }}</td>
                <td>1 <a href="#">X</a></td>
                <td>Rp. {{ item.price_product }}</td>
                <td>Rp. {{ item.price_product }}</td>
            </tr>
            <tr>
                <th colspan="3"><span class="pull-right">Total</span></th>
                <th> Rp. {{ finalPrice }} </th>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-primary">Continue Shopping</a></td>
                <td colspan="3"><a href="#" class="pull-right btn btn-success">Checkout</a></td>
            </tr>
        </tbody>
    </table>
</div>
  </div>
  <!-- end cart -->
  <!-- start footer -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="footer">
      <div class="container">
              <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
            </span>
      </div>
    </div>
  <!-- end footer -->
  </div>
  </body>
  <script type="text/javascript" src="/asset/filter.js"></script>
</html>
